.app {
  display: flex;
  width: 80%;
  margin: 0 auto;
  min-width: 85rem;

  & .book-list {
    margin-left: 1rem;
    list-style: none;
    width: 100%;
    margin-top: 1rem;

    li {
      position: relative;
    }

    @media (max-width: 991px) {
      margin-left: 0 !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      & li {
        width: 18rem;
        :not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;
  }

  & p {
    font-size: 2rem;
    color: #212529;
    margin: 2rem;
    line-height: 3rem;
  }

  & .body {
    margin-left: 1rem;
    flex: 1;

    @media (max-width: 991px) {
      margin-left: 0 !important;
    }
  }
}
