.book {
  display: flex;
  border: 1px solid #e4e5e9;
  padding: 1.25rem;
  border-radius: 3px;

  @media (max-width: 991px) {
    height: 100%;
  }

  &__img {
    width: 14rem;

    @media (max-width: 991px) {
      display: flex;
    }
  }

  &__content {
    margin-left: 1rem;
    flex: 1;

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.25em;
    margin: 0;
    margin-right: 1rem;
  }

  &__author {
    font-style: italic;
    font-size: 1.5rem;
  }

  &__publisher {
    font-style: italic;
    font-size: 1.2rem;
  }

  &__synopsis {
    margin-top: 0.5rem;
    white-space: break-spaces;
    display: block;
    font-size: 1.2rem;
  }

  &__control-container {
    position: absolute;
    top: 0;
    right: -2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    @media (max-width: 991px) {
      width: 4rem;
    }
  }

  &__button {
    border-radius: 3rem;
    padding: 0;
    width: 4rem;
    height: 4rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: #434449;
    border: 1px solid #f1f1f4;
    cursor: pointer;
  }
}
