.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 1rem;
  margin-bottom: 1rem;

  @media (max-width: 991px) {
    margin-left: 0;
  }

  & form {
    position: relative;
    width: 100%;
  }

  & a {
    color: #3f51b5;
    text-decoration: none;
  }

  & input {
    border-radius: 3px;
    border: 1px solid #f1f1f4;
    background: #f1f2f7;
    padding: 0.8rem 1rem;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  & label {
    position: absolute;
    top: 0.9rem;
    right: 1rem;
  }

  & button {
    border: 0;
    background: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
